body {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: "Space Grotesk", sans-serif;
  font-size: 5.5em;
  color: green;
}
h2,
h3 {
  font-family: "Oxygen", sans-serif;
  font-weight: normal;
  line-height: 2;
  color: green;
}
p {
  color: #708090;
}
.footer-text {
  font-family: "Play", sans-serif;
}
.top-container {
  padding-top: 100px;
  background-color: lightblue;
  position: relative;
  height: 600px;
}
.middle-container {
}
.bottom-container {
}
.top-cloud {
  position: absolute;
  right: 200px;
  top: 40px;
}
.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 200px;
}
.profile-img {
  margin-top: 20px;
  width: 15%;
}
.skill-row {
  width: 50%;
  margin: 50px auto;
  text-align: left;
  line-height: 2;
}
.programming-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.fishing-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.skills {
}
.links {
  text-decoration: none;
  color: #708090;
  font-weight: 700;
}
.links:hover {
  text-decoration: underline;
}
