body {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: "Space Grotesk", sans-serif;
  font-size: 72px;
  color: #21252b;
  z-index: 2;
}
h2,
h3 {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  letter-spacing: 0.07em;
  line-height: 2;
  color: #495057;
}
p {
  color: #708090;
}
.footer-text {
  font-family: "Play", sans-serif;
}
.top-container {
  padding-top: 100px;
  /* background-color: lightblue; */
  background-color: #DEE2E6;
  position: relative;
  height: 600px;
}
.middle-container {
  padding-bottom: 30px;
}
.bottom-container {
  background-color: #144C14;
}
.wave {
  position: absolute;
  opacity: 0.25;
  width: 50px;
}
.profile-img {
  margin-top: 20px;
  width: 15%;
}
.skill-row {
  width: 50%;
  margin: 50px auto;
  text-align: left;
  line-height: 2;
}
.programming-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.fishing-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.links {
  text-decoration: none;
  color: #708090;
  font-weight: 700;
}
.links:hover {
  text-decoration: underline;
}
.subtle {
  font-size: small;
  color: #CED4DA;
}
.contact-me {
  padding-bottom: 10px;
}
